<%- include("partials/header") %>

<h1>View and Search Your Favorite Photos</h1>
<div class="container">
    <% info["photos"].forEach(function(image){ %>
        <div class="thumbnail">
                <img src="<%= image.src.medium %>" alt="<%= query %>"/>
                <div class="info">
                    <i id="icons" class='far fa-heart'></i>
                    <p>By: <strong><%= image.photographer %></strong></p>
                </div>
        </div>
    <% }) %>
</div>

<%- include("partials/footer") %>